.row{
  margin-top: 130px;
}
.container{
  min-height: 100vh;
}

.empty-search{
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%,-50%);
}

@media (max-width:768px) {
  .card{
    width: 250px !important;
  }
}
@media (max-width:554px) {
  .row{
    display: flex;
    justify-content: center;
    align-items: center;
  }
.card{
    width: 300px !important;
  }

}
@media (max-width:320px) {

.card{
    width: 250px !important;
  }

}
