<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="name">Name:</label>
    <input id="name" type="text" formControlName="name" placeholder="Enter full name" />
  </div>

  <div>
    <label for="email">Email:</label>
    <input id="email" type="email" formControlName="email" placeholder="user@example.com" />
  </div>

  <div>
    <label for="password">Password:</label>
    <input id="password" type="password" formControlName="password" placeholder="Enter password" />
  </div>

  <div>
    <label for="avatar">Your Image Url:</label>
    <input id="avatar" type="text" formControlName="avatar" placeholder="https://example.com/avatar.jpg" />
  </div>

  <div>
    <button type="submit">Save User</button>
    <button  (click)="cancelSave()">Back To Home</button>
  </div>

</form>
