<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <h2>Login</h2>

  <div>
    <label for="email">Email:</label>
    <input id="email" type="email" formControlName="email" placeholder="user@example.com" />
    @if(email?.invalid && email?.touched){
        <span class="error-message"> Please enter a valid email.</span>
    }
  </div>

  <div>
    <label for="password">Password:</label>
    <input id="password" type="password" formControlName="password" placeholder="Enter password" />
    @if(password?.invalid && password?.touched)
    {
         <span class="error-message"> Password must be at least 6 characters.</span>
    }
  </div>

  <div>
    <button type="submit" [disabled]="loginForm.invalid">Login</button>
    <button type="button" (click)="cancelLogin()">Back To Home</button>
  </div>
</form>
